<div class="tamanho">
  <div class="container">
    <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
      <button (click)="cadastrarCategoria(modalCategoria)" class="btn btn-success text-white">Nova Categoria</button>
      <button (click)="cadastrarProduto(modalProduto)" class="btn btn-success text-white">Novo Produto</button>
    </div>
    <div class="card style-categorias" *ngFor="let categoria of listaCategoria; let i = index">
      <div class="card-body">
        <button class="card-title w-100" (click)="toggleCategoria(categoria.id)">
          <div class="d-flex justify-content-between  w-100">
            <div class="text-left">
              <button  class="btn style-text" >{{ categoria.nome }}</button>
            </div>
            <div class="text-right">
              <button (click)="editarCategoria(modalCategoria, categoria, i)" class="btn btn-success btn-sm">Editar</button>
              <button (click)="excluirCategoria(categoria)" class="btn btn-danger btn-sm">Deletar</button>
            </div>
          </div>
        </button>
        <h6>Produtos relacionados a {{ categoria.nome }}:</h6>
        <ul *ngIf="categoriaAberta === categoria.id">
          <li *ngFor="let produto of categoria.produtos">
            {{ produto.nome }}
            <button (click)="editarProduto(modalProduto, produto, i)" class="btn btn-success btn-sm">Editar</button>
            <button (click)="excluirProduto(produto,i)" class="btn btn-danger btn-sm">Deletar</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <ng-template #modalProduto let-modal>
    <div class="modal-header">
        <h4 id="h4" class="modal-title"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
            <app-produtos-detalhes [produto]="produtoParaEditar" (retorno)="atualizarLista($event)" ></app-produtos-detalhes>
                
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
</div>
</ng-template>


<ng-template #modalCategoria let-modal>
    <div class="modal-header">
        <h4 id="h4" class="modal-title"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
            <app-categoria-detalhes [categoria]="categoriaParaEditar" (retorno)="atualizarLista($event)" ></app-categoria-detalhes>
                
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
</div>
</ng-template>
