<div class="h-100 d-flex col-lg-12 flex-column" *ngIf="!modoVincular">
  <div class="serch col-lg-12 w-100">
      <div class="d-flex align-items-center" style="width: 33% !important;">
          <button (click)="cadastrarCategoria(modalCategoria)" class="novo">Nova Catogeria</button>
          <button (click)="cadastrarProduto(modalProduto)" class="novo">Novo Produto</button>
      </div>
      <div class="w-100">
          <input class="w-100" type="text" placeholder="Pesquisar por nome" [(ngModel)]="termoPesquisa" (keyup)="realizarPesquisa(termoPesquisa)"/>  
      </div>
  </div>
  <section class="quadroTabela container">
    <div class="tabela">
      <div class="card style-categorias mt-3" *ngFor="let categoria of listaCategoriasFiltrada; let i = index">
        <div class="p-2">
          <button class="card-title w-100 p-2 m-0" (click)="toggleCategoria(categoria.id)">
            <div class="d-flex justify-content-between w-100">
              <div>
                <h4 class="m-0">{{ categoria.nome }}</h4>
              </div>
              <div class="me-2 d-flex align-items-center">
                <button (click)="editarCategoria(modalCategoria, categoria, i)" class="editar mx-2"><img class="img" src="../../../../assets/imagens/editar.svg"></button>
                <button (click)="excluirCategoria(modalExcluirCategoria, categoria, i)" class="deletar"><img class="img" src="../../../../assets/imagens/delete.svg"></button>
              </div>
            </div>
          </button>
          
          <ul class="ul m-0" *ngIf="categoriaAberta === categoria.id">
            <li class="d-flex justify-content-between m-0" *ngFor="let produto of categoria.produtos">
              <p class="p-2 mt-2 fs-5">{{ produto.nome }} R${{produto.valor}}</p>
              <div class="d-flex align-items-center me-5">
                <button (click)="editarProduto(modalProduto, produto, i)" class="editar mx-2"><img class="img" src="../../../../assets/imagens/editar.svg"></button>
                <button (click)="excluirProduto(modalExcluirProduto, produto, i)" class="deletar"><img class="img" src="../../../../assets/imagens/delete.svg"></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #modalProduto let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">{{tituloModal}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-produtos-detalhes [produto]="produtoParaEditar" (retorno)="atualizarLista($event)" ></app-produtos-detalhes>
  </div>
  <div class="modal-footer footerModal">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #modalCategoria let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">{{tituloModal}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-categoria-detalhes [categoria]="categoriaParaEditar" (retorno)="atualizarLista($event)" ></app-categoria-detalhes>
  </div>
  <div class="modal-footer footerModal">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #modalExcluirCategoria let-modal>
  <div class="modal-header modal-style">
      <h4 class="modal-title">{{tituloModal}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body modal-style">
      <h5>Vc tem certeza que quer deletar essa Categoria?</h5>   
  </div>
  <div class="modal-footer modal-style">
      <button type="button" class="btn btn-outline-danger" (click)="confirmarExclusaoCategoria(categoriaParaExcluir)">Deletar</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #modalExcluirProduto let-modal>
  <div class="modal-header modal-style">
      <h4 class="modal-title">{{tituloModal}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body modal-style">
      <h5>Vc tem certeza que quer deletar esse Produto?</h5>   
  </div>
  <div class="modal-footer modal-style">
      <button type="button" class="btn btn-outline-danger" (click)="confirmarExclusaoProduto(produtoParaExcluir)">Deletar</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="h-100 d-flex col-lg-12 flex-column" *ngIf="modoVincular">
  <div class="serch col-lg-12 w-100">
      <div class="w-100">
          <input class="w-100" type="text" placeholder="Pesquisar por nome" [(ngModel)]="termoPesquisa" (keyup)="realizarPesquisa(termoPesquisa)"/>  
      </div>
  </div>
  <section class="quadroTabelaVincolar container">
    <div class="tabela">
      <div class="mt-3">
          <div *ngFor="let categoria of listaCategoriasFiltrada;">
              <p class="categoriaNome p-2 m-2 fs-5 d-flex justify-content-between text-center">{{ categoria.nome }} <button (click)="vincular(categoria)" class="btn btn-danger">Vincular</button></p>
          </div>
      </div>
    </div>
  </section>
</div>