.tamanho{
    margin-top: 1rem;
    margin-left: 12%;
}
.btn-success{
    background: #222427; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-right: 0.5rem;

}
.btn-success :hover{
    background:  #393e46;
    
}
.btn-success:focus{
    outline: none;
}
.tabela{
    border: 0.2rem solid #f96d00;
}
th{
    border: 0.1rem solid #f96d00;

}.novo{
    background: #393e46; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-right: 1rem;

}
.novo :hover{
    background:  #393e46;
    
}
.novo:focus{
    outline: none;
}
.modal-footer{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-body{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}

.modal-header{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.style-categorias{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.style-text{
    color: #f96d00;
}
