#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 12%;
	background: #222427; 
    border-right: 0.2rem solid #f96d00;
    
}
.imagem{
    margin-bottom: 2rem;
    max-width: 12rem;
    width: 100%;
    height: auto;

}

.btn-sidebar {
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    border: none;
	background: #f2f2f2; 
    border-radius: 3rem;
    border: 2px solid black;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #f96d00;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}



.btn-sidebar:hover {
    background:  #393e46;
}

.btn-sidebar:focus {
    outline: none;
}

.p-3{
    margin-top: 4rem;
}
.list-unstyled{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}




