<div class="d-flex" id="wrapper">
    <div class=" " id="sidebar">
        <div class="p-3">
            <img class="imagem" src="../../../../assets/imagens/logo.png" alt="Minha Imagem"  >
            <ul class="list-unstyled components">
                <li>
                    <input class="btn btn-sidebar" type="button" value="Pedidos" routerLink="pedidos">
                </li>
                <li>
                    <input class="btn btn-sidebar" type="button" value="Cliente" routerLink="cliente">
                </li>
                <li>
                    <input class="btn btn-sidebar" type="button" value="Produtos" routerLink="produtos">
                </li>
                <li>
                    <input class="btn btn-sidebar" type="button" value="Sabores" routerLink="sabores">
                </li>
            </ul>
        </div>
    </div>
</div>