<div>
    <h2>Histórico de Pedidos</h2>
    <div class="container">
      <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
      </div>
      <div class="listaPedidos">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item li_lista" *ngFor="let pedido of listaPedidos">
              <button class="btn btn-link" (click)="mostrarDetalhes(pedido.id)">{{ pedido.clienteId.nome }}</button>
            </li>
          </ul>
        </div>
        <div  *ngFor="let pedido of listaPedidos">
          <div  class="detalhesPedido" *ngIf="pedidoSelecionado === pedido.id">
            <h2>Detalhes do Pedido</h2>
            <p>ID: {{ pedido.id }}</p>
            <p>Cliente: {{ pedido.clienteId.nome}}</p>
            <ul>
              <li *ngFor="let cliente of pedido.clienteId.enderecos">
                <p>Endereço: {{ cliente.rua }},{{ cliente.bairro}},{{cliente.numero}}</p>
              </li>
            </ul>
            <ul>
              <li *ngFor="let produto of pedido.produtos">
                <p>Item: {{ produto.produtoId.nome }} R$ {{ produto.produtoId.valor}}</p>
                <h4>Sabores</h4>
                <ul>
                  <li *ngFor="let sabor of produto.sabores">
                    <p>Nome do Sabor: {{ sabor.nome }}</p>
                  </li>
                </ul>
              </li>
            </ul>
            
            <p>Data de Solicitação: {{ pedido.solicitacao | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            <p>Valor Total: R$ {{ pedido.valorTotal }}</p>
          </div>
       </div>
      </div>
    </div>
  </div>