.btn-success{
    background: #222427; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-top: 1rem;

}
.listaPedidos{
    display: flex;
}
h2{
    color: #f96d00;
    margin-top: 2rem;
}
.detalhesPedido{
    background: #222427;
    border: 0.1rem solid #f96d00;
    padding: 1rem;
    padding-top: 0px;
    margin-top: 5rem;
    margin-left: 4rem;
}

.btn-success :hover{
    background:  #393e46;
    
}
.btn-link{
    text-decoration:dotted;
    font-weight: bold;
    color: #cbcdcf;
}
.btn-success:focus{
    outline: none;
}
.tabela{
    border: 0.2rem solid #f96d00;
}
th{
    border: 0.1rem solid #f96d00;

}
.li_lista{
    background: #222427;
    border: 0.1rem solid #f96d00;
}
p ,h2 {color: #f96d00;}
.modal-footer{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-body{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}

.modal-header{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}