
<form #formulario1="ngForm" (ngSubmit)="salvar(formulario1)" class="mb-3">
    <div class="mb-3">
      <label for="exampleInputText1" class="form-label">Nome:</label>
      <input #nome="ngModel" required type="text" class="form-control" name="exampleInputText1" [(ngModel)]="cliente.nome">
      <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">*Nome é obrigatório!</div>
    </div>
    <div class="mb-3">
      <button type="button" (click)="cadastrarEndereco(modalEndereco)" class="btnAdicionar">Adicionar Endereço</button>
    </div>
    <section class="tabela">
      <table class="table table-striped">
        <thead class="fixed-header">
            <tr>
                <th scope="col">Rua</th>
                <th scope="col">Bairro</th>
                <th scope="col">Numero</th>
                <th scope="col" class="text-center">Açoes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let endereco of cliente.enderecos; let i = index">
                <td class="text-break text-wrap">{{ endereco.rua }}</td>
                <td class="text-break text-wrap">{{ endereco.bairro}}</td>
                <td class="text-break text-wrap">{{ endereco.numero}}</td>
                <td class="text-center text-break text-wrap">
                  <button type="button" (click)="editarEndereco(modalEndereco, endereco, i)" class="btn btn-outline-warning mx-2">Editar</button>
                  <button type="button" (click)="excluirEndereco(i)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
      </table>
    </section>
    <div class="d-flex justify-content-center mt-2">
      <button type="submit" class="salvar">Salvar</button>
    </div>  
</form>

<ng-template #modalEndereco let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">{{tituloModal}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    
    <app-endereco-detalhes [endereco]="enderecoParaEditar" (retorno)="atualizarLista($event)" ></app-endereco-detalhes>
            
  </div>
  <div class="modal-footer footerModal">
    <button type="button" class="btn btn-danger " (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>