<div class="h-100 d-flex col-lg-12">
  <section class="menuPedidos d-flex text-center flex-column h-100 col-lg-3">
    <div class="menu w-100">
      <div class="w-100">
          <input class="serch w-100" type="text" placeholder="Pesquisar por Id ou nome" [(ngModel)]="termoPesquisa" (keyup)="realizarPesquisa(termoPesquisa)"/>
      </div>
      <div class=" h-100 w-100">
        <ul class="list-group w-100">
          <button class="list-group-item w-100 mt-2 p-3" 
          [ngClass]="{'list-group-item-active' : (active == pedido)}"  
          *ngFor="let pedido of listaPedidosFiltrada" 
          (click)="[mostrarDetalhes(pedido) ,active = pedido]"
          >
            <span>#{{ pedido.id }} • {{ pedido.clienteId.nome }}</span> 
          </button>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <button class="novoPedido" (click)="cadastrarPedido(modalPedido)">Novo Pedido</button>
      <button class="historico" (click)="historico(modalPedidoHistorico)">Histórico</button>
    </div>
  </section>
  
  <section class="listarPedidos h-100 col-lg-9">
    <div class="listaDetalhesPedido h-100">
      <div *ngFor="let pedido of listaPedidosOrginal">
        <div *ngIf="pedidoSelecionado.id == pedido.id">
          <div class="cabecalho">
            <h1>{{pedido.clienteId.nome}}</h1>
            <span>Pedido #{{pedido.id}}</span>
            <span>• Feito às {{pedido.solicitacao}}</span>
          </div>
          <div class="endereco mt-2">
            <p>{{pedido.enderecoId.rua}}, {{pedido.enderecoId.numero}} - {{pedido.enderecoId.bairro}}</p>
          </div>
          <ul class="p-0 p-1 mt-3 w-100">
            <li class="produto mb-2 w-100" *ngFor="let produto of pedido.pedidoProdutoList">
              <div class="produtoNome p-3 w-100">
                <p>{{ produto.produtoId.nome }}</p>
                <p>R$ {{ produto.produtoId.valor}}</p>
              </div>
              <ul class="sabores w-100" *ngIf="produto.produtoId.temSabores">
                <li class="p-2" *ngFor="let sabor of produto.sabores">
                  <p>• {{ sabor.nome }}</p>
                </li>
              </ul>
            </li>
            <div class="valorTotal p-3">
              <p class="m-0">Valor Total: R$</p>
              <p class="m-0">{{ pedido.valorTotal }}</p>
            </div>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="areaFinalizar h-100" *ngIf="pedidoSelecionado.id > 0">
      <button class="finalizar p-2 me-5 mb-4" (click)="finalizarPedido(pedidoSelecionado)">Finalizar</button>
    </div>
  </section>
</div>
    
<ng-template #modalPedido let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">{{tituloModal}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-pedido-detalhes [pedido]="pedidoParaEditar" (retorno)="atualizarLista($event)" ></app-pedido-detalhes>
  </div>
  <div class="modal-footer footerModal">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>

<ng-template #modalPedidoHistorico let-modal>
  <div class="modal-header cabecalhoModal">
    <h4 class="modal-title">{{tituloModal}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div style="height: 500px;">
    <app-historico-pedidos></app-historico-pedidos>
  </div>
  <div class="modal-footer footerModal">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>