<div class="container tamanho">
  <div class="row">
    <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
      <button (click)="cadastrarPedido(modalPedido)" class="btn btn-success text-white">Novo Pedido</button>
    </div>
    <div class="col-md-3">
      <h2>Listagem de Pedidos</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let pedido of listaPedidos">
          <button class="btn btn-link" (click)="mostrarDetalhes(pedido.id)">{{ pedido.id }}</button>
        </li>
      </ul>
    </div>
    <div *ngFor="let pedido of listaPedidos">
      <div *ngIf="pedidoSelecionado === pedido.id">
        <h2>Detalhes do Pedido</h2>
        <p>ID: {{ pedido.id }}</p>
        <p>Cliente: {{ pedido.clienteId.nome}}</p>
        <ul>
          <li *ngFor="let cliente of pedido.clienteId.enderecos">
            <p>Endereço: {{ cliente.rua }},{{ cliente.bairro}},{{cliente.numero}}</p>
          </li>
        </ul>
        <ul>
          <li *ngFor="let produto of pedido.produtos">
            <p>Item: {{ produto.nome }} R$ {{ produto.valor}}</p>
            <h4>Sabores</h4>
            <ul>
              <li *ngFor="let sabor of produto.sabores">
                <p>Nome do Sabor: {{ sabor.nome }}</p>
              </li>
            </ul>
          </li>
        </ul>
        
        <p>Data de Solicitação: {{ pedido.solicitacao | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        <p>Valor Total: R$ {{ pedido.valorTotal }}</p>
      </div>
    </div>
  </div>
</div>


        
<ng-template #modalPedido let-modal>
  <div class="modal-header">
    <h4 id="h4" class="modal-title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    
    <app-pedido-detalhes [pedido]="pedidoParaEditar" (retorno)="atualizarLista($event)" ></app-pedido-detalhes>
            
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>