<div class="tamanho">
    <div class="d-flex justify-content-center">
      <h2>Lista de Pessoas</h2>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
        <button (click)="toggleAccordion()" class="btn btn-success text-white">Mostrar/Esconder Categorias</button>
      </div>
  
      <div id="accordion" *ngIf="showAccordion">
        <div class="card" *ngFor="let categoria of listaCategoria; let i = index">
          <div class="card-header" [id]="'heading' + i">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                {{ categoria.nome }}
              </button>
            </h5>
          </div>
          <div [id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordion">
            <div class="card-body">
              <!-- Conteúdo da categoria -->
              <!-- Inclua o conteúdo da categoria aqui -->
              <button (click)="editarCategoria(modalCategoria, categoria, i)" class="btn btn-primary btn-sm">Editar</button>
              <button (click)="excluirCategoria(categoria)" class="btn btn-danger btn-sm">Deletar</button>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  

  <ng-template #modalCategoria let-modal>
    <!--<div class="modal-header">
        <h4 id="h4" class="modal-title"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
            <app-produtos-detalhes [categoria]="categoriaParaEditar" (retorno)="atualizarLista($event)" ></app-produtos-detalhes>
                
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>-->
</ng-template>
  