main{
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
	background: #222831; 
    z-index: 10;

  
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: -100;
}