p{
    border: none;
}
.alert-success{
    background-color: #8b4513;
    color: #eead2d;
}
.form-select{
    border: 2px solid #8b4513;
    outline: none;
    box-shadow: none;
}
.btnAdicionar{
    padding: 5px 10px;
    background-color: #8b4513;
    color: #fdfffc;
    border: 2px solid #eead2d;
    border-radius: 8px;
    outline: none;
}
.btnAdicionar:hover{
    background-color: #eead2d;
    color: #8b4513;
    border: 2px solid #000;
    transition: .5s;
}
.produtos{
    border-radius: 10px;
    background-color: #8b4513;
    color: #eee;
    max-height: 40%;
    overflow-y: auto;
}
.lista{
    border-radius: 10px;
    border: 2px solid #eead2d;
}
.produto{
    border-bottom: 1px solid #eead2d;
}
.gap{
    gap: .3rem;
}
.tabela{
    border: 0.2rem solid #f96d00;
}
th{
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
    width: 20rem;
}
td  {
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
}
.modal-footer{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-body{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-header{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}