.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}
.form-control{
    border-color: #8b4513;
}
.form-control:focus{
    box-shadow: 0 0 5px #8b4513;
}
.salvar{
    padding: 8px 10px;
    background-color: #eead2d;
    color: #8b4513;
    border: 2px solid #000;
    border-radius: 8px;
    outline: none;
}
.salvar:hover{
    background-color: #8b4513;
    color: #eead2d;
    border: 2px solid #eead2d;
    transition: .5s;
}
.alert{
    padding: 0px;
    padding: .5rem;
}