.tamanho{
    margin-left: 12%;
}
.tamanho{
    margin-top: 5rem;
    margin-left: 12%;
    display: flex;
}
.btn-success{
    background: #222427; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-right: 0.5rem;

}
h2{
    color: #f96d00;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

.btn-success :hover{
    background:  #393e46;
    
}
.btn-success:focus{
    outline: none;
}
.tabela{
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
    width: 40rem;
}
th{
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
    width: 20rem;
}
td{
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;

}
.novo{
    background: #393e46; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-right: 1rem;

}
.novo :hover{
    background:  #393e46;
    
}
.novo:focus{
    outline: none;
}
.modal-footer{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-body{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}

.modal-header{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.style-categorias{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.style-text{
    color: #f96d00;
}
