<div class="h-100">
    <div class="d-flex justify-content-start ">
        <h2>Lista de Sabores</h2>
      </div>
    

    <div class="container">
      <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
          <button (click)="cadastrarSabor(modalSabor)" class="btn btn-success text-white">Novo Sabor</button>
      </div>
      <table class="table  tabela  table-hover">
          <thead>
              <tr >
                  <th>Nome</th>
                  <th class="d-flex justify-content-center" >Ações</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let sabor of lista; let i = index">
                  <td>{{ sabor.nome }}</td>
                  <td class="d-flex justify-content-center">
                      <button (click)="editarSabor(modalSabor, sabor, i)" class="btn btn-success btn-sm">Editar</button>
                      <button (click)="excluirSabor(sabor)" class="btn btn-danger btn-sm">Deletar</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
      
      
<ng-template #modalSabor let-modal>
    <div class="modal-header">
        <h4 id="h4" class="modal-title"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
            <app-sabores-detalhes [sabor]="saborParaEditar" (retorno)="atualizarLista($event)" ></app-sabores-detalhes>
                
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>