.modal-footer{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-body{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}

.modal-header{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}   
.btn-success{
    background: #222427; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-top: 1rem;

}
.btn-success :hover{
    background:  #393e46;
    
}
.btn-success:focus{
    outline: none;
}
