.serch{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #eead2d;
    padding-left: 5px;
    background-color: #64310d;
    input{
        padding: 15px;
        font-size: 20px;
        outline: none;
        background: none;
        border: none;
        background-image: url(../../../../assets/imagens/search_icon.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 25px;
        padding-left: 28px;
        color: #eead2d;
    }
    input::placeholder{
        color: #fff;
    }
    .novoCliente{
        padding: .5rem 1rem;
        border-radius: 20px;
        border: none;
        border: 3px solid #eead2d;
        background-color: #8b4513;
        margin-right: 5px;
    }
}

.fixed-header {
    position: sticky;
    top: 0;
    z-index: 1;

    tr{
        th{
            background-color: #aaa;
        }
        
    }
}
td{
            border: 3px solid #64310d;
        }