<div class="tamanho">
<div class="d-flex justify-content-center">
  <h2>Lista de Clientes</h2>
</div>
<div class="container">
  <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
      <button (click)="cadastrarCliente(modalCliente)" class="btn novo text-white">Novo Cliente</button>
  </div>
  <table class="table tabela table-hover">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Endereço</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cliente of lista; let i = index">
              <td>{{ cliente.nome }}</td>
              <td>
                  <ng-container *ngFor="let endereco of cliente.enderecos">
                      <div class="address-details">
                          <p > Rua: {{ endereco.rua }},<br> Numero: {{ endereco.numero }}</p>
                      </div>
                  </ng-container>
              </td>
              <td class="d-flex justify-content-center p-4"  >
                  <button (click)="editarCliente(modalCliente, cliente, i)" class="btn novo text-white">Editar</button>
                  <button (click)="excluirCliente(cliente)" class="btn btn-danger btn-sm">Deletar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</div>
  
    <ng-template #modalCliente let-modal>
    <div class="modal-header modal-style ">
      <h4 id="h4" class="modal-title"></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body modal-style">
      
          <app-cliente-detalhes [cliente]="clienteParaEditar" (retorno)="atualizarLista($event)" ></app-cliente-detalhes>
              
    </div>
    <div class="modal-footer modal-style">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
    </ng-template>