.tamanho{
    margin-left: 12%;
}

.novo{
    background: #222427; 
    border: 0.1rem solid #f96d00;
      transition-duration: 0.4s;
      margin-right: 1rem;

}
h2{
    color: #f96d00;
    margin-top: 2rem;
}
.novo :hover{
    background:  #393e46;
    
}
.novo:focus{
    outline: none;
}
.tabela{
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
    width: 60rem;
}
th{
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
    width: 20rem;
}
td  {
    border: 0.1rem solid #f96d00;
    background: #222427;
    color: #f96d00;
}
.modal-footer{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;
}
.modal-body{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;

}
.modal-header{
    background: #222427; 
    border: 0.1rem solid #f96d00;
    color: #f96d00;
}